{% extends "base.html.twig" %}

{% block title %}Conseils Techniques{% endblock %}

{% block titlePage %}Conseils Techniques{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset(css_path) }}">
{% endblock %}

{% block body %}
<section class="corps_conseil">
    <h3>Grimpez plus souvent pour progresser en escalade</h3>
    <p>Plus on pratique, plus on s’améliore. Cette vérité est valable dans tous les sports. Alors, mettez vos chaussons
        d’escalade et lancez-vous ! Pour progresser, il n’est pas nécessaire de vous épuiser dans des entraînements
        physiques intenses. Il vaut mieux privilégier une pratique régulière, alternant entre des séances douces et
        intenses, qui vous permettra de vous améliorer au fil du temps, que ce soit en bloc ou en falaise. Donc, si vous
        souhaitez progresser en escalade, il est préférable de consacrer une heure une fois par semaine plutôt que de
        grimper une journée par mois.</p>

    <br>

    <h3>Développez votre force de grimpe en travaillant vos doigts</h3>
    <p>Dans votre progression en escalade, ne négligez pas l’importance des doigts. Ils jouent un rôle essentiel dans
        cette discipline. C’est pourquoi il est primordial de les entraîner régulièrement pour assurer une progression
        efficace. Prenez l’habitude de réaliser des exercices d’échauffement spécifiques avant de grimper afin de
        réduire les risques de blessures. Développer la force de vos doigts demande de la patience, mais les résultats
        en valent la peine ! En plus de renforcer les muscles, cet entraînement permet également de renforcer vos
        tendons.</p>

    <br>

    <h3>Améliorez votre progression en escalade en optant pour l’escalade en binôme</h3>
    <p>L'escalade est souvent pratiquée de manière individuelle, mais lorsque vous grimpez seul, il est facile de se
        décourager, de faire des séances plus courtes ou de se limiter aux voies que vous maîtrisez déjà. En revanche,
        grimper à deux ou en groupe peut vous motiver davantage et vous aider à repousser vos limites. Un avantage
        supplémentaire est de grimper avec quelqu’un de légèrement plus fort que vous, car cela vous poussera à aller
        plus loin, à sortir de votre zone de confort pour essayer de nouvelles techniques d’escalade, et ainsi vous
        améliorer plus rapidement.</p>

    <br>

    <h3>Gestion du repos et de l’entraînement en escalade : l’équilibre pour une progression optimale</h3>
    <p>Pas besoin de se pousser à l’extrême ! Il est tout aussi important de prendre du temps pour se reposer et
        permettre à vos muscles de récupérer. En effet, se surentraîner peut conduire à des blessures, qui risquent de
        compromettre vos progrès en escalade pendant plusieurs semaines, voire plusieurs mois. Le repos permet à votre
        corps d’assimiler les efforts et de reconstruire les fibres musculaires. C’est également le moment idéal pour
        intégrer les nouvelles techniques d’escalade sur lesquelles vous travaillez.</p>
    <p>Voici une recommandation pour organiser votre semaine sur sept jours : GRIMPE – REPOS – GRIMPE – MUSCULATION –
        REPOS – GRIMPE – REPOS, puis on recommence !</p>

    <br>

    <h3>Explorez de nouvelles voies vers la progression en escalade : diversifiez vos techniques</h3>
    <p>Les grimpeurs qui pratiquent différents types d’escalade sont rares, ce qui est vraiment dommage. L’escalade
        offre une grande diversité de terrains, il faut donc en profiter ! Malheureusement, comme dans tous les sports,
        ce n’est pas en faisant uniquement ce que l’on aime – et généralement ce dans quoi on excelle – que l’on devient
        meilleur. Pour progresser en escalade, il est nécessaire de diversifier les voies, d’explorer de nouvelles
        situations, d’essayer des passages différents, de répéter les mêmes exercices et d’apprendre de nouvelles
        techniques d’escalade. C’est pourquoi il est essentiel d’être « multi-pratique ».</p>
    <p>Le bloc et la falaise se complètent très bien. Chaque type de surface nécessite une approche spécifique et peut
        vous faire progresser dans l’autre discipline. Ce serait dommage de ne pas en profiter, alors n’hésitez pas à
        combiner les deux si vous en avez l’opportunité.</p>

    <br>

    <h3>Les secrets des dièdres en escalade</h3>
    <p>Les dièdres sont des formations rocheuses en escalade caractérisées par des angles saillants, formant des coins
        ou des rainures. Lorsque vous grimpez dans un dièdre, il existe une règle importante : sortir les pieds. En
        d’autres termes, il est conseillé de placer vos pieds sur les parois du dièdre pour vous reposer et même parfois
        lâcher les mains. Cette technique permet de transférer une partie du poids de votre corps sur les jambes,
        soulageant ainsi vos bras et vos mains.</p>

    <br>

    <h3>L’escalade en dalle : la grenouille</h3>
    <p>Lorsque vous grimpez en dalle, il y a une règle importante à suivre : collez-vous le plus possible à la paroi, en
        particulier avec votre bassin. Cette technique consiste à littéralement « faire l’amour avec le rocher » en vous
        rapprochant étroitement de la surface. En adoptant cette position collée, vous favorisez une escalade de face,
        un peu comme une grenouille. En vous plaquant contre la paroi, vous créez une adhérence maximale entre votre
        corps et le rocher, ce qui améliore votre stabilité et votre équilibre. Cela vous permet de mieux sentir les
        prises et de garder un meilleur contrôle pendant vos mouvements. L’escalade en dalle demande souvent de la
        confiance et de la finesse, et cette règle de coller son bassin vous aide à mieux appréhender les surfaces
        inclinées.</p>
</section>
{% endblock %}