body {
  background-color: #4b4b4b;
  text-align: center;
  margin: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

/*-------------------------------*/

.custom-loader-bulle {
  margin:10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #766DF4;
  -webkit-mask: radial-gradient(circle closest-side at 50% 40%, #0000 94%, #000);
  transform-origin: 50% 40%;
  animation: s5 1s infinite linear;
}

@keyframes s5 {
  100% {
    transform: rotate(1turn)
  }
}

/*-------------------------------*/

.custom-loader-blue {
  margin:10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, #2BABB7 94%, #0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%, #2BABB7);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: s3 1s infinite linear;
}

@keyframes s3 {
  100% {
    transform: rotate(1turn)
  }
}

/*-------------------------------*/

.custom-loader-pink {
  margin:10px;
  width: 50px;
  height: 50px;
  display: grid;
  animation: s4 4s infinite;
}

.custom-loader-pink::before,.custom-loader-pink::after {
  content: "";
  grid-area: 1/1;
  border: 8px solid;
  border-radius: 50%;
  border-color: #F443EB #F443EB #0000 #0000;
  mix-blend-mode: darken;
  animation: s4 1s infinite linear;
}

.custom-loader-pink::after {
  border-color: #0000 #0000 #FFC1FE #FFC1FE;
  animation-direction: reverse;
}

@keyframes s4 {
  100% {
    transform: rotate(1turn)
  }
}

/*-------------------------------*/

.custom-loader-green {
  margin:10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, #4BAC25 95%, #0000) 50% 1px/12px 12px no-repeat,
    radial-gradient(farthest-side, #0000 calc(100% - 14px), #E4E4ED 0);
  animation: s9 2s infinite linear;
}

@keyframes s9 {
  to {
    transform: rotate(1turn)
  }
}

/*-------------------------------*/

.custom-loader-yellow {
  margin:10px;
  width: 50px;
  height: 50px;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-color: #E4E4ED #0000;
  animation: s6 1s infinite linear;
}

.custom-loader-yellow::before,.custom-loader-yellow::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
}

.custom-loader-yellow::before {
  border-color: #F4D23C #0000;
  animation: inherit;
  animation-duration: .5s;
  animation-direction: reverse;
}

.custom-loader-yellow::after {
  margin: 8px;
}

@keyframes s6 {
  100% {
    transform: rotate(1turn)
  }
}

/*-------------------------------*/

.custom-loader-marine {
  margin:10px;
  width: 50px;
  height: 50px;
  display: grid;
}

.custom-loader-marine::before, .custom-loader-marine::after {
  content: "";
  grid-area: 1/1;
  --c: radial-gradient(farthest-side, #2066FF 92%, #0000);
  background:
    var(--c) 50% 0,
    var(--c) 50% 100%,
    var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  animation: s2 1s infinite;
}

.custom-loader-marine::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear
}

@keyframes s2 {
  100% {
    transform: rotate(.5turn)
  }
}

/*-------------------------------*/

.custom-loader-red {
  margin:10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 8px solid #F42F33;
  animation:
    s10-1 0.8s infinite linear alternate,
    s10-2 1.6s infinite linear;
}
@keyframes s10-1{
   0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
   12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
   25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
   50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
   100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
}
@keyframes s10-2{ 
  0%    {transform:scaleY(1)  rotate(0deg)}
  49.99%{transform:scaleY(1)  rotate(135deg)}
  50%   {transform:scaleY(-1) rotate(0deg)}
  100%  {transform:scaleY(-1) rotate(-135deg)}
}

/*-------------------------------*/

.custom-loader-barre-pleine {
  margin: 10px;
  width: 120px;
  height:20px;
  background: 
    linear-gradient(90deg,#0001 33%,#0005 50%,#0001 66%)
    #80F471;
  background-size:300% 100%;
  animation: ct1 1s infinite linear;
}

@keyframes ct1 {
  0% {background-position: right}
}

/*-------------------------------*/

.custom-loader-bille-orange {
  margin: 10px;
  width: 120px;
  height: 22px;
  border-radius: 40px;
  color: #E4E4ED;
  border: 2px solid;
  position: relative;
  overflow: hidden;
}

.custom-loader-bille-orange::before {
  content: "";
  position: absolute;
  margin: 2px;
  width: 14px;
  top: 0;
  bottom: 0;
  left: -20px;
  border-radius: inherit;
  background: #F49E43;
  box-shadow: -10px 0 12px 3px #F49E43;
  clip-path: polygon(0 5%, 100% 0,100% 100%,0 95%,-30px 50%);
  animation: ct4 1s infinite linear;
}

@keyframes ct4 {
  100% {left: calc(100% + 20px)}
}

/*-------------------------------*/

.custom-loader-losange-bleu {
  margin: 10px;
  width: 120px;
  height: 20px;
  transform: skewX(-45deg);
  background: 
    linear-gradient(#2D4BF4 0 0) left -30px top 0/30px 20px no-repeat 
    #E4E4ED;
  animation: ct3 1s infinite linear;
}

@keyframes ct3 {
  100% {background-position: right -30px top 0}
}

/*-------------------------------*/

.custom-loader-barre-rose {
  margin: 10px;
  width: 120px;
  height: 20px;
  background: 
    linear-gradient(90deg, #0000 ,#F440C1) left -50px top 0/50px 20px no-repeat 
    #E4E4ED;
  animation: ct2 1s infinite linear;
}

@keyframes ct2 {
  100% {background-position: right -50px top 0}
}

/*-------------------------------*/

.progress-barre-pleine-verte {
  margin: 10px;
  width:120px;
  height:20px;
  background:
   linear-gradient(#2BBE2D 0 0) left/0% 100% no-repeat
   #E4E4ED;
  animation:p1 2s infinite linear;
}

@keyframes p1 {
    100% {background-size:100% 100%}
}

/*-------------------------------*/

.progress-barre-pleine-bleu-ronde {
  margin: 10px;
  width:120px;
  height:20px;
  border-radius: 20px;
  background:
   linear-gradient(#1E37F4 0 0) left/0% 100% no-repeat
   #E4E4ED;
  animation:p2 2s infinite steps(10);
}

@keyframes p2 {
    100% {background-size:110% 100%}
}

/*-------------------------------*/

.progress-barre-hachurer-jaune {
  margin :10px;
  width:120px;
  height:20px;
  border-radius: 20px;
  background:
   repeating-linear-gradient(135deg,#F4EB43 0 10px,#F4EB43bf 0 20px) left/0% 100%   no-repeat,
   repeating-linear-gradient(135deg,#F4EB4333    0 10px,#F4EB431a    0 20px) left/100% 100%;
  animation:p3 2s infinite;
}

@keyframes p3 {
    100% {background-size:100% 100%}
}

/*-------------------------------*/

.progress-barre-batterie-orange {
  margin: 10px;
  width:80px;
  height:40px;
  border:2px solid #F47B43;
  border-right-color: transparent;
  padding:3px;
  background: 
    repeating-linear-gradient(90deg,#F47B43 0 10px,#0000 0 15px) 
    left/0% 100% no-repeat content-box content-box;
  position: relative;
  animation:p5 2s infinite steps(6);
}

.progress-barre-batterie-orange::before {
  content:"";
  position: absolute;
  top:-2px;
  bottom:-2px;
  left:100%;
  width:10px;
  background:
    linear-gradient(
        #0000   calc(50% - 7px),#F47B43 0 calc(50% - 5px),
        #0000 0 calc(50% + 5px),#F47B43 0 calc(50% + 7px),#0000 0) left /100% 100%,
    linear-gradient(#F47B43 calc(50% - 5px),#0000        0 calc(50% + 5px),#F47B43 0) left /2px 100%,
    linear-gradient(#0000        calc(50% - 5px),#F47B43 0 calc(50% + 5px),#0000        0) right/2px 100%;
  background-repeat:no-repeat;
}

@keyframes p5 {
    100% {background-size:120% 100%}
}

/*-------------------------------*/

.progress-barre-effet-eau {    
  margin: 10px;
  --r1: 154%;
  --r2: 68.5%;
  width:60px;
  height:60px;
  border-radius: 50%; 
  background:
    radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#F46CC0 80%),
    radial-gradient(var(--r1) var(--r2) at bottom,#F46CC0 79.5%,#0000 80%),
    radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#F46CC0 80%),
    #E4E4ED;
  background-size: 50.5% 220%;
  background-position: -100% 0%,0% 0%,100% 0%;
  background-repeat:no-repeat;
  animation:p9 2s infinite linear;
}

@keyframes p9 {
    33%  {background-position:    0% 33% ,100% 33% ,200% 33% }
    66%  {background-position: -100%  66%,0%   66% ,100% 66% }
    100% {background-position:    0% 100%,100% 100%,200% 100%}
}

/*-------------------------------*/

.progress-barre-reseau {
  margin: 10px;
  width: 60px;
  height: 50px;
  -webkit-mask: 
    linear-gradient(90deg,#000 70%,#0000 0) calc(0*100%/4) 100%/calc(100%/5) calc(1*100%/5),
    linear-gradient(90deg,#000 70%,#0000 0) calc(1*100%/4) 100%/calc(100%/5) calc(2*100%/5),
    linear-gradient(90deg,#000 70%,#0000 0) calc(2*100%/4) 100%/calc(100%/5) calc(3*100%/5),
    linear-gradient(90deg,#000 70%,#0000 0) calc(3*100%/4) 100%/calc(100%/5) calc(4*100%/5),
    linear-gradient(90deg,#000 70%,#0000 0) calc(4*100%/4) 100%/calc(100%/5) calc(5*100%/5);
  -webkit-mask-repeat:no-repeat;
  background: linear-gradient(#16BEAB 0 0) left/0% 100% no-repeat #E4E4ED;
  animation: p4 2s infinite steps(6);
}

@keyframes p4 {
100% {background-size: 120% 100%}
}

/*-------------------------------*/

.hypnotic-loader-atome {
  margin: 30px;
  width: 60px;
  height: 25px;
  border: 2px solid #1a2fea;
  border-radius: 50%;
  display: grid;
  animation: h2 2s infinite linear;
}

.hypnotic-loader-atome:before,.hypnotic-loader-atome:after {
  content:"";
  grid-area: 1/1;
  border:inherit;
  border-radius: 50%;
  animation: inherit;
  animation-duration: 3s;
}

.hypnotic-loader-atome:after {
  --s:-1;
}

@keyframes h2 {
   100% {transform:rotate(calc(var(--s,1)*1turn))}
}

/*-------------------------------*/

.hypnotic-loader-bulle {
  margin: 30px;
  width:40px;
  height:40px;
  border-radius: 50%;
  border:2px solid #2DD0B8;
  position: relative;
  transform-origin: left;
  animation: h12 1s infinite linear;
}

.hypnotic-loader-bulle::before, .hypnotic-loader-bulle::after {
  content: "";
  position: absolute;
  inset:0 0 auto;
  margin:auto;
  width:50%;
  height:50%;
  border-radius: 50%;
  border:2px solid #2DD0B8;
  transform-origin: 50% calc(100% - 4px);
  animation: inherit;
}

.hypnotic-loader-bulle::after {
  inset:auto 0 calc(100% + 2px);
  animation-duration: 0.5s;
  animation-direction: reverse;
  transform-origin: 50% calc(200% - 2px);
}

@keyframes h12{
  100% {transform:rotate(1turn)}
}

/*-------------------------------*/

.hypnotic-loader-star {
  margin: 10px;
  width:50px;
  height:calc(50px*0.866);
  display: grid;
  background:
    linear-gradient(to bottom left ,#0000 calc(50% - 1px),#766DF4 0 calc(50% + 1px),#0000 0) right/50% 100%,
    linear-gradient(to bottom right,#0000 calc(50% - 1px),#766DF4 0 calc(50% + 1px),#0000 0) left /50% 100%,
    linear-gradient(#766DF4 0 0) bottom/100% 2px;
  background-repeat: no-repeat;
  transform-origin: 50% 66%;
  animation: h5 4s infinite linear;
}

.hypnotic-loader-star::before, .chypnotic-loader-star::after {
  content: "";
  grid-area: 1/1;
  background:inherit;
  transform-origin: inherit;
  animation: inherit;
}

.hypnotic-loader-star::after {
  animation-duration: 2s;
}

@keyframes h5{
  100% {transform:rotate(1turn)}
}

/*-------------------------------*/

.hypnotic-loader-circle {
  margin: 30px;
  width: 50px;
  height: 50px;
  border: 2px solid #F443F1;
  border-radius: 50%;
  display: grid;
  animation: h1 1.5s infinite linear;
  transform-origin: 50% 80%;
}

.hypnotic-loader-circle:before, .hypnotic-loader-circle:after {
  content:"";
  grid-area: 1/1;
  border:inherit;
  border-radius: 50%;
  animation: inherit;
  animation-duration: 1s;
  transform-origin: inherit;
}

.hypnotic-loader-circle:after {
  --s:-1;
}

@keyframes h1 {
   100% {transform:rotate(calc(var(--s,1)*1turn))}
}

/*-------------------------------*/

/*-------------------------------*/

/*-------------------------------*/

/*-------------------------------*/
