{% extends "base.html.twig" %}

{% block title %}Cotations{% endblock %}

{% block titlePage %}Cotations{% endblock %}

{% block body %}
    <p>Page à remplir - Page à remplir - Page à remplir - Page à remplir</p>
    <p>Page à remplir - Page à remplir - Page à remplir - Page à remplir</p>
    <p>Page à remplir - Page à remplir - Page à remplir - Page à remplir</p>
{% endblock %}