{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block titlePage %}Accueil{% endblock %}

{% block body %}
<section class="jumbotron text-center my-5">
    <div class="container">
        <p class="lead">
            La Voie répertorie certains sites de grimpe en milieu naturel ! Nous répertorions les sites de grimpe en
            France, ainsi qu'une boîte à outils pour vous aider à mieux comprendre le milieu de l'escalade.
            Trouvez des sites adaptés à vos besoins et profitez de votre expérience en toute sécurité !
        </p>
    </div>
</section>

<!--Cartes-->
<section class="light">
    <div class="container py-2">

        <article class="carte-horizontale light purple">
            <a class="carte-horizontale__img_link" href="{{asset('carte')}}">
                <img class="carte-horizontale__img" src="{{asset('image/accueil/Voie1.jpg')}}"
                    alt="illustration voie d'escalade" />
            </a>
            <div class="carte-horizontale__text texte">
                <h1 class="carte-horizontale__title purple">
                    <a href="{{asset('carte')}}">Carte</a>
                </h1>

                <div class="carte-horizontale__bar"></div>

                <div class="carte-horizontale__preview-txt">
                    <a href="{{asset('carte')}}">
                        Cette carte répertorie les sites de grimpe en plein air pour les amateurs de défis. Chaque
                        emplacement est accompagné d'une mini fiche descriptive contenant des informations tel que les
                        coordonnées GPS, le nom subjectif du site ou le code postale du lieu.
                    </a>
                </div>
            </div>
        </article>
    </div>
</section>
{% endblock %}