{% extends "base.html.twig" %}

{% block title %}EPI{% endblock %}

{% block titlePage %}E.P.I.{% endblock %}

{% block body %}
    <section class="corps_epi">
        <p>Les équipements de protection individuelle (EPI) correspondent aux différents
            matériels nécessaires à la pratique de l’escalade en toute sécurité avec des
            élèves : corde, harnais / baudrier, mousqueton, dégaine, système d’assurage,
            casque, longe...
        </p>

        <p>Leur gestion et leur suivi se fait par la tenue d’un registre de gestion des EPI
            (obligatoire !) constitué de l’ensemble des <U>fiches de vie</U> de chaque matériel ou
            lot de matériel, ainsi que des notices d’information correspondantes du fabricant.
            <br><br>
            <strong>Un enseignant peut être « référent EPI » s’il a suivi une formation qualifiante (fédérale
                ou professionnelle) : il s’occupe du suivi et de la vérification de ce matériel.
                Sinon le contrôle annuel doit être réalisé par une personne compétente, soit dans un
                club, soit par un prestataire de service (le financement peut être réalisé par
                l’établissement).</strong>
            <br><br>
            Pour permettre un suivi individuel ou par lot, chaque matériel doit être <U>identifié</U> dans un but
            de traçabilité.
        </p>

        <p>Ils doivent faire l’objet d’un <strong>contrôle visuel et tactile</strong> :
            <ul>
                <li>lors d’un <U>contrôle de routine simplifié à chaque utilisation</U></li>
                <li>lors d’un <U>contrôle complet au maximum tous les 12 mois</U></li>
            </ul>
        </p>

        <p>Tout matériel qui présente un <U>dysfonctionnement</U>, ou qui a subit un événement susceptible
            d’altérer sa fiabilité doit être mis de côté. Il subit ensuite un <U>examen complémentaire</U> par le
            responsable EPI conduisant soit à sa réparation et sa remise en service, soit à sa mise au rebut.</p>

        <p>La <U>mise au rebut</U> d’un EPI implique qu’il ne doit plus servir, quelque soit le contexte.</p>
    </section>
{% endblock %}