/**,
*:before,
*:after {
    box-sizing: border-box;
    position: relative;
}

html,
body {
    overflow: hidden;
    height: 100%;
}*/

body {
    font-family: 'Poppins', sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*body:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}*/

.carte-mouv {
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.25);
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: url('pexels-nextvoyage-1453627.jpg'); /*Image de la carte*/
    background-size: cover;
    border-radius: 20px;
    /*Pour les angles de la carte*/
    clip-path: polygon(20px 0, calc(100% - 20px) 0, 100% 20px, 100% calc(100% - 20px), calc(100% - 20px) 100%, 20px 100%, 0 calc(100% - 20px), 0 20px);
}

.carte-mouv:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.carte-mouv__content {
    z-index: 100; /*position*/
    width: 50%;
    border-radius: 50%;
    text-align: center;
    position: relative;
    background: #9d1fba; /*Couleur du cercle*/
    padding: 0.5em;
    color: white; /*Couleur de la police*/
    transition: transform 0.3s ease-out;
}

.carte-mouv__content:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 100%;
}

.carte-mouv__content>* {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.titre {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

.coin-container {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.4s ease-in;
}

.coin {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    transition: all 0.3s ease-out;
    opacity: 0;
}

.coin--top {
    border-bottom: none;
    top: 0;
}

.coin--bottom {
    border-top: none;
    bottom: 0;
}

.coin--gauche {
    left: 0;
    border-right: none;
}

.coin--droit {
    right: 0;
    border-left: none;
}

.carte-mouvante {
    margin: 15px 15px 0 0;
    transition: transform 0.3s ease-out;
    z-index: 1000;
}

.carte-mouvante:hover {
    transform: scale(1.05);
}

.carte-mouvante:hover .carte-mouv:after {
    background-color: rgba(0, 0, 0, .1);
}

.carte-mouvante:hover .carte-mouv__content {
    transform: scale(1.1);
}

.carte-mouvante:hover .coin {
    opacity: 1;
}

.carte-mouvante:hover .coin--top.coin--gauche {
    transform: translate(-50%, -50%) scale(4);
}

.carte-mouvante:hover .coin--top.coin--droit {
    transform: translate(50%, -50%) scale(4);
}

.carte-mouvante:hover .coin--bottom.coin--gauche {
    transform: translate(-50%, 50%) scale(4);
}

.carte-mouvante:hover .coin--bottom.coin--droit {
    transform: translate(50%, 50%) scale(4);
}

.carte-mouvante:hover .coin-container {
    transform: rotate(210deg) scale(0.5);
}

.carte-mouvante:active {
    transform: scale(1);
}

.carte-mouvante:hover+.background-image {
    transform: scale(1.1);
    filter: blur(3px);
}